@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap");
/*'Shantell Sans', cursive; 
#f9ea9a;
#774324;
#6A381F;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* ---------------- Header -------------- */
.cabezado {
  display: flex;
  justify-content: space-evenly;
  background-color: #6A381F;
  max-width: 100%;
  height: 150px;
}

.logoYNombre {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-right: 25%;
}

.logoHeader {
  max-width: 120px;
  max-height: 120px;
  border-radius: 100px;
}

.nombrePagina {
  color: #f9ea9a;
  font-family: "Shantell Sans", cursive;
  padding-left: 20px;
  font-size: 35px;
}

.navegador {
  display: flex;
  list-style-type: none;
  align-items: flex-end;
  font-size: 30px;
  padding-top: 85px;
}

.listaCabezado {
  display: inline-block;
  position: relative;
  padding-left: 15px;
  font-family: "Shantell Sans", cursive;
  color: #f9ea9a;
  text-decoration: none;
}
.listaCabezado:after {
  content: "";
  display: block;
  margin: auto;
  height: 4px;
  width: 0px;
  transition: all 0.6s;
}
.listaCabezado:hover:after {
  width: 100%;
  background: #f9ea9a;
}

/* ---------------------- Imagen en movimiento con texto por encima --------------------- */
.seccionMovimiento {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 100%;
  background-color: #333;
}

.Imagen_movimiento {
  width: 100%;
  height: 750px;
}

.textoDeImagen {
  position: absolute;
  top: 200px;
  left: 90px;
  font-family: "Shantell Sans", cursive;
  font-size: 135px;
  color: #6A381F;
  text-shadow: #f9ea9a 1px 0 10px;
}

/*-----------Texto e Imagenes----------*/
.imagenYtexto {
  display: flex;
  justify-content: center;
  max-width: 100%;
  height: auto;
  background-color: #333;
}

.imagen1Index {
  display: flex;
  justify-content: flex-start;
  width: 350px;
  height: 500px;
  margin-top: 15px;
  background-image: url(../assets/img/muchasMATES.png);
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

.infoDelTexto {
  display: flex;
  justify-content: center;
  max-width: 875px;
  padding-left: 80px;
  padding-right: 80px;
}

.textoInfo {
  display: flex;
  font-size: 25px;
  text-align: center;
  font-family: "Shantell Sans", cursive;
  color: #f9ea9a;
}

.imagen2Index {
  display: flex;
  justify-content: flex-end;
  width: 350px;
  height: 500px;
  margin-top: 15px;
  background-image: url(../assets/img/mateConGente.png);
  background-position: center;
  background-size: cover;
  border-radius: 25px;
}

/* --------------- Footer --------------*/
.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 275px;
  background-color: #321404;
}

.footerDatos {
  display: flex;
  flex-direction: column;
}

.logoDirecTexto {
  display: flex;
  flex-direction: row;
  margin-top: 15px;
  margin-left: 25px;
  font-size: 25px;
  color: #f9ea9a;
}

.Direc {
  display: flex;
  padding-left: 15px;
  font-family: "Shantell Sans", cursive;
}

.logoTelTexto {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  margin-left: 25px;
  font-size: 25px;
  color: #f9ea9a;
}

.Num {
  display: flex;
  padding-left: 15px;
}

.dudasTexto {
  display: flex;
  margin-top: 30px;
  margin-left: 55px;
  font-size: 25px;
}

.logitoFooter {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.logoFooter {
  max-width: 150px;
  max-height: 150px;
  border-radius: 100px;
  margin-bottom: 10px;
}

.footerContactos {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  font-size: 65px;
  margin-right: 35px;
  margin-top: 10px;
}

.logoTwitter {
  display: flex;
  margin-right: 15px;
  color: #f9ea9a;
}

.logoInsta {
  display: flex;
  margin-right: 15px;
  color: #f9ea9a;
}

.logoFace {
  display: flex;
  margin-right: 15px;
  color: #f9ea9a;
}

.logoWhats {
  display: flex;
  color: #f9ea9a;
}

.fa-brands {
  color: #f9ea9a;
}
.fa-brands:hover {
  color: #333;
  transition: 1s;
}

/*----------------------Contacto----------------------*/
.seccionPrincipal {
  display: flex;
  justify-content: space-around;
  background-color: #333;
  width: 100%;
  height: 550px;
}

.datosDelContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
  font-size: 35px;
  padding-top: 9%;
  color: #f9ea9a;
  font-family: "Shantell Sans", cursive;
}

.pinYDirec {
  display: flex;
  flex-direction: row;
}

.DirecContacto {
  display: flex;
  padding-left: 20px;
}

.telYNum {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
}

.NumContacto {
  display: flex;
  padding-left: 20px;
}

.mailyGmail {
  display: flex;
  flex-direction: row;
  padding-top: 45px;
}

.mailContacto {
  display: flex;
  padding-left: 20px;
}

.tituloContacto {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 35px;
  font-size: 55px;
  color: #f9ea9a;
  font-family: "Shantell Sans", cursive;
}

.mapaContacto {
  display: flex;
  padding-top: 55px;
  border-radius: 125px;
}

/*----------------Aplicando media queris-----------------*/
@media (min-width: 600px) and (max-width: 1200px) {
  /*------------Index-----------------*/
  .cabezado {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: #6A381F;
  }
  .logoYNombre {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-top: 15px;
  }
  .nombrePagina {
    display: flex;
    text-align: center;
    font-size: 25px;
  }
  .navegador {
    display: flex;
    justify-content: center;
    font-size: 25px;
    padding-bottom: 10px;
  }
  .imagenYtexto {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .imagen1Index {
    width: 70%;
  }
  .imagen2Index {
    width: 70%;
  }
  .footerContactos {
    font-size: 40px;
  }
  .logoDirecTexto {
    font-size: 15px;
  }
  .logoTelTexto {
    font-size: 15px;
  }
  /*-----------------Contacto-----------------*/
  .seccionPrincipal {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
  }
  .mapaContacto {
    padding-bottom: 15px;
  }
}
/*---------Resto de paginas-----------*/
.ventasImagenes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 600px;
  background-color: #f9ea9a;
}

.imagenMate3 {
  display: flex;
  height: 350px;
  width: 350px;
}

.imagenMate2 {
  height: 350px;
  width: 350px;
}

.imagenMate1 {
  height: 350px;
  width: 350px;
}

.ventasTexto {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  font-size: 25px;
  font-family: "Shantell Sans", cursive;
  color: #321404;
  background-color: #f9ea9a;
}

/*# sourceMappingURL=style.css.map */
